psycopg2
redis
flask
peewee
python-json-logger
PyYAML
Flask-Caching
voluptuous
flasgger
prometheus_flask_exporter
werkzeug>=3.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
